<!DOCTYPE html>
<html>
<head>
<meta charset='UTF-8'/>
<meta name='viewport'content='width=device-width initial-scale=1.0'/>
<link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Raleway:400,700|Titillium+Web:400,700" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Cabin:400,600' rel='stylesheet' type='text/css'>
<link href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
<link href='public/css/nightlifeHP.css' rel='stylesheet' type='text/css'>
</head>
  
<body>
<div class='container-1'>
<div class='map noDisplay'><div class="hide">X</div><div id="map"></div></div>
<div class="navig ul">Menu<li><a href="/" class="homepage nav2">Homepage</a></li><li><a href="/nightlife" class="homepage nav2">Search by current location</a></li><li><a href="/nightlife/searchCities" class="homepage nav2">Search by Cities</a></li><li><a href="/nightlife/save" class="homepage nav2">Saved Places</a></li><li><a href="/nightlife/places" class="homepage nav2">My Places</a></li><li><a href="/nightlife/putData" class="homepage nav2">New Place</a></li><li><a class="homepage nav2" href="/logout">Logout</a></li></div>
<h1 class='anim'>City Places</h1>
<div class="container-2">
<div class="locBox">Your location:<p class="location"></p></div>
<div class="searchOpt">


<p><input type="text" id="keyword" placeholder="what are you looking for?"></p>

<div class="distance">
<p class='distText'>Find by distance</p>
<input id='distance' placeholder='radius'/>
</div>
<button class="getLocation b">GO!</button><br>
div.showMap Show map  
<img style="margin-top:10px"src='public/img/google_logo_dark.png' width='150px'/>
</div> 
</div> 

<div class="container-3"></div>
div(class="more anim")
div(id="numPpl") !{numPpl}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="controllers/functions.js"></script>
<script type="text/javascript" src="controllers/googleApiController.js"></script>
<script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=!{api_key}&libraries=places&callback=getMap"></script>

script.
    var page='!{page}'

</body>  
</html>