body {
  background-color: black;
  padding: 0;
  font-family: 'Raleway';
  color:black;
}

.container-1 {
  background: url('http://www.planwallpaper.com/static/images/abstract-wallpaper-images-hiht.jpg') 900px;
  margin: auto;
  margin-top: 0;
  max-width: 900px;
  border: solid black 1px;
  padding-bottom: 50px;
  min-height:1000px;
}

h1 {
  background: #DF7401;
  text-align: center;
  border-bottom: solid 1px black;
  border-top: solid 1px black;
  padding: 5px;
}

.container-2 {
  padding: 5px;
  background: #5882FA;
  margin: auto;
  max-width: 450px;
  border-radius: 5px;
  border: solid 1px black;
  padding: 10px;
}
.container-3{
  margin:auto;
  margin-top:10px;
  max-width:550px;
  background:rgba(255,255,255,0.8);
  border-radius:5px;
  color:black;
}
ul {
  margin: auto;
  max-width: 300px;
  padding: 10px;
  font-size: 20px;
}

a {
  color: black;
  text-decoration: none;
}


/****NIGHTLIFE COORDINATION***/


/****NAVIGATION*****
*/

.navig {
  text-align: right;
  margin: 5px;
  background: black;
  padding: 5px;
  padding-right: 0;
}

.nav2 {
  /*background: #8000FF;*/
  padding: 4px 6px;
  color: #8000FF;
  border-radius: 0px;
  border-left: solid 1px;
  border-right: solid 1px;
}
/**+LOCATION***/
.locBox{
  margin:auto;
  max-width:200px;
  text-align:center;
  padding-bottom:0;
}

.location{
  font-weight:bold;
  font-size:20px;
  padding:0;
  background:#0040FF;
  margin-bottom:0;
}

/***SEARCH LOCATION****/

.b {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Raleway'
}

.searchOpt {
  text-align: center;
  padding:10px;
  margin-top:15px;
}


.searchText, .distText{
  margin-bottom:0;
}


input{
  display:inline-block;
  padding:5px;
  border-radius: 5px;
  font-family: 'raleway';
  width:200px;
  text-align:center;
  margin-top:5px;
}

input#distance{
  padding:2px;
  width:70px;
  margin-bottom:10px;
  
}

#submit{
  border-radius:6px;
  padding:4px;
  margin-left:6px;
  font-size: 15px;
  
}
/****DROPDOWN******/
.dropdown{
  padding:5px;
  margin-bottom:10px;
}

/*****RESULTS*******/


.results{
  padding:20px;
  padding-bottom:0;
  text-align:center;
  font-weight:bold;
  font-size:20px;
}
.results-list{
 padding:10px;
 margin:5px;
}

.place{
  border-top: solid 1px black;
  padding:5px;
}

.name{
  font-weight:bold;
  cursor:pointer;
}
.icon{
  display:inline-block;
  text-align: right;
}

.photo img{
  float:right;
  display:block;
}
.photo a{
  clear:both;
  float:right;
  display:block;
  text-align:right;
  margin-top:10px;
}

.detailsH{
  cursor:pointer;
  margin-top:15px;
}

.det{
  font-size:15px;
  
}
/***PEOPLE GOING****/
.going{
  clear:both;
  float:right;
  vertical-align:bottom;
}

#more{
  max-width:100px;
  margin:auto;
  background:blue;
  text-align:center;
  color:purple;
  cursor:pointer;
}

#going{
  cursor:pointer;
}



/***MAP*******/
.map{
  position:fixed;
  top:50px;
  width: 60vw;
  left:20vw;
  z-index:10;
}
.hide{
  background:#0040FF;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  color:black;
  float:right;
  width: 30px;
  text-align:center;
  cursor:pointer;
}
#map{
  width: 60vw;
  height: 500px;
  background-color: gray;
  margin:auto;
  border-radius:5px;
  top: 0;
  left: 0;
  right: 0;
}

.showMap{
  cursor:pointer;
  color:#8000FF;
}
/***FUNCTIONS***/
.noDisplay{
  display:none;
}



/***ERROR****/

.input-error{
  color:red;
  font-size:15px;
  margin-left:-3vw;
}

.error{
  border:solid 1px red;
}

/***GOINGS PAGE***/

.tab{
  text-align:center;
}

.all{
  margin-right:50px;
  padding:10px;
  border-radius:5px;
}

.my{
  margin-left:50px;
  padding:10px;
  border-radius:5px;
}

.go{
  cursor:pointer;
}
.active{
  background:orange;
}
/***SUBMIT NEW PLACE***/
textarea{
  margin-top:10px;
  width:300px;
  overflow: scroll;
}
/**REST***/
@keyframes wina {
  0% {
    color: black;
  }
  25% {
    color: blue;
  }
  
  75% {
    color: gray;
  }
}

.anim {
  animation-name: wina;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@media screen and (max-width:1250px){
  .map{
    left:15vw;
    width:70vw;
  }
  
  #map{
    width:70vw;
  }
}

@media screen and (max-width:600px){
  .map{
    left:5vw;
    width:90vw;
  }
  #map{
    width:90vw;
  }
}

@media screen and (max-width:600px){
  .map{
    left:5vw;
    width:90vw;
  }
  #map{
    width:90vw;
  }
  
}