body {
  background-color: black;
  font-family: 'Raleway';
  color:black;
}

.container-1 {
  background: url('../img/cityplaces.jpg') 900px;
  padding-top:15px;
  margin: auto;
  max-width: 900px;
  border: solid black 1px;
  padding-bottom: 50px;
  min-height:1000px;
}

h1 {
  font-size:32px;
  background: #FE642E;
  text-align: center;
  border-bottom: solid 1px black;
  border-top: solid 1px black;
  padding: 5px;
  height:50px;
}

.container-2 {
  padding: 5px;
  background: rgba(46,73,128,0.9);
  margin: auto;
  max-width: 400px;
  border-radius: 5px;
  border: solid 1px white;
  padding: 10px;
}
.container-3{
  margin:auto;
  margin-top:10px;
  max-width:550px;
  background:rgba(255,255,255,0.8);
  border-radius:5px;
  color:black;
}
ul {
  margin: auto;
  max-width: 300px;
  padding: 10px;
  font-size: 20px;
}

a {
  color: black;
  text-decoration: none;
}


/****NIGHTLIFE COORDINATION***/


/****NAVIGATION*****
*/

.navig {
  position:absolute;
  text-align: left;
  margin: 5px;
  background: #131929;
  padding: 5px;
  color: white;
  max-width:250px;
  cursor:pointer;
  font-size:20px;
  list-style-type:none;
  border-radius:3px;
  z-index:10;
}

.nav2 {
  padding: 4px 6px;
  color: white;
  border-radius: 0px;
  border-left: solid 2px;
  max-width:250px;
  margin-right:2px;
  font-size:16px;
  display:none;
}
/**+LOCATION***/
.locBox{
  margin:auto;
  max-width:200px;
  text-align:center;
  padding-bottom:0;
  color:black;
  background:#697CA3;
  border-radius:5px;
}

.location{
  font-weight:bold;
  font-size:20px;
  padding:0;
  
  margin-bottom:0;
}

/***SEARCH LOCATION****/

.b {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Raleway'
}

.searchOpt {
  text-align: center;
  padding:10px;
  margin-top:15px;
}

.formBox{
  text-align: center;
  padding:10px;
  margin-top:15px;
  background:#697CA3;
  border-radius:5px;
  margin:auto;
  max-width:340px;
}

.searchBox {
  text-align: center;
  padding:10px;
  color:black;
  background:#697CA3;
  border-radius:5px;
  max-width:250px;
  margin:auto;
  margin-top:15px;
}

.distance{
  background:#697CA3;
  border-radius:5px;
   max-width:200px;
   margin:auto;
}
.searchText, .distText{
   margin-bottom:0;
}


input, textarea{
  display:inline-block;
  padding:5px;
  border-radius: 5px;
  font-family: 'raleway';
  width:200px;
  text-align:center;
  margin-top:5px;
}

input#distance{
  padding:2px;
  width:70px;
  margin-bottom:10px;
  
}

#submit{
  border-radius:6px;
  padding:4px;
  margin-left:6px;
  font-size: 15px;
  
}

/*****RESULTS*******/


.results{
  padding:20px;
  padding-bottom:0;
  text-align:center;
  font-weight:bold;
  font-size:20px;
}
.results-list{
 padding:10px;
 margin:5px;
}

.place{
  border-top: solid 1px black;
  padding:5px;
}

.name{
  font-weight:bold;
  cursor:pointer;
}
.icon{
  display:inline-block;
  text-align: right;
}

.photo img{
  float:right;
  display:block;
}
.photo{
  clear:both;
  float:right;
  display:block;
  text-align:right;
  margin-top:10px;
}

.detailsH{
  cursor:pointer;
  margin-top:15px;
}

.det{
  font-size:15px;
  list-style-type:none;
}
#more{
  max-width:100px;
  margin:auto;
  background:blue;
  text-align:center;
  color:purple;
  cursor:pointer;
}
/*** SAVES****/
.save{
  clear:both;
  float:right;
  vertical-align:bottom;
}

.editrem{
  text-align: center;
  margin:1px;
  background:white;
  font-size:15px;
  cursor:pointer;
  border:solid 1px white;
  border-radius:3px;
}

#save{
  cursor:pointer;
  border:solid 1px white;
  border-radius:2px;
}


.editForm{
  position:fixed;
  top:10vw;
  left:35%;
  right:35%;
  border:solid 2px white;
  
}

.formEdit{
  text-align: center;
  padding:10px;
  margin-top:15px;
  background:#697CA3;
  border-radius:5px;
  margin:auto;
}

/***MAP*******/
.map{
  position:fixed;
  top:50px;
  width: 60vw;
  left:20vw;
  z-index:10;
}
.hide{
  background:#0040FF;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  color:black;
  float:right;
  width: 30px;
  text-align:center;
  cursor:pointer;
}
#map{
  width: 60vw;
  height: 500px;
  background-color: gray;
  margin:auto;
  border-radius:5px;
  top: 0;
  left: 0;
  right: 0;
}

.showMap{
  cursor:pointer;
  color:#FE642E;
}
.showMap:hover{
  color:#8000FF;
}
/***FUNCTIONS***/
.noDisplay{
  display:none;
}



/***ERROR****/

.input-error{
  color:red;
  font-size:15px;
  margin-left:-3vw;
}

.error{
  border:solid 1px red;
}

/***saveS PAGE***/

.tab{
  text-align:center;
}

.all{
  margin-right:50px;
  padding:10px;
  border-radius:5px;
}

.my{
  margin-left:50px;
  padding:10px;
  border-radius:5px;
}

.go{
  cursor:pointer;
}
.active{
  background:#FA8258;
}
/***SUBMIT NEW PLACE***/
textarea#addInfo{
  margin-top:10px;
  width:300px;
  overflow: auto;
}

#address{
  overflow:auto;
  padding:5px;
  margin-bottom:0;
  height:50px;
  border-radius: 4px;
}

#phoneNo{
  margin-top:0;
}
/**REST***/
@keyframes wina {
  0% {
    color: black;
  }
  25% {
    color: blue;
  }
  
  75% {
    color: gray;
  }
}

.anim {
  animation-name: wina;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@media screen and (max-width:1250px){
  .map{
    left:15vw;
    width:70vw;
  }
  
  #map{
    width:70vw;
  }
  
  .editForm{
    left:35vw;
    right:35vw;
  }
}

@media screen and (max-width:1100px){
  
  .editForm{
    left:30vw;
    right:30vw;
  }
}

@media screen and (max-width:870px){
  
  .editForm{
    left:25vw;
    right:25vw;
  }
}

@media screen and (max-width:670px){
  
  .editForm{
    left:20vw;
    right:20vw;
  }
}

@media screen and (max-width:600px){
  .map{
    left:5vw;
    width:90vw;
  }
  #map{
    width:90vw;
  }
  
  .navig{
    max-width:90vw;
  }
  
   .editForm{
    left:10vw;
    right:10vw;
  }
}

@media screen and (max-width:430px){
     .editForm{
    left:5vw;
    right:5vw;
  }
}

@media screen and (max-width:350px){
     .editForm{
    left:1vw;
    right:1vw;
  }
}