<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'/>
<meta name='viewport'content='width=device-width initial-scale=0.8'/>
<link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Raleway:400,700|Titillium+Web:400,700" rel="stylesheet">
<link href='public/css/homepage.css' rel='stylesheet' type='text/css'>
</head>
<body>
<div class='container-1'>
<div class="navbar"><a href="/login" class="login nav">Login</a>|<a href="/gitLogin" class="gitLogin nav">Login with Github</a>|<a href="/fbLogin" class="fbLogin nav">Login with Facebook</a></div>
<h1>Welcome to my apps !{user}!</h1>
<div class="container-2">
<ul>
<li><p class="voting"><a href="#">Voting app</a></p></li>
<li><p class="nightlife"><a href="/nightlife"> Nightlife coordination app</a></p></li>
</ul>
</div>
</div>
</body>
</html>