.main-container {}

#root {
  background: rgba(143, 147, 168, 0.7);
  padding-top: 20px;
  height: 100vh;
  overflow-y: auto;
}

.button.basic.reset-position {
  width: 50px;
}

.map-icon:hover {
  cursor: pointer;
}

.map-container {
  position: fixed !important;
  height: 80%;
  top: 40px;
  left: 100px;
  right: 100px;
  z-index: 10;
}

.info-image {
  width: 100%;
}

.gm-style-iw>div {
  max-width: 100% !important;
}

@media (max-width: 769px) {
  .map-container {
    left: 12px;
    right: 12px;
  }
}

@media (min-width: 769px) {
  .map-container {
    left: 40px;
    right: 40px;
  }
}

.top.attached.menu {
  margin-bottom: 0;
  font-size: 16px;
}

.rightDropdown {
  top: 25px !important;
}

.ui.center.aligned.segment {
  background: url("../assets/citybackimg.jpg") center;
  height: 200px;

  .header {
    background: rgba(143, 147, 168, 0.7);
    padding: 5px;
    border-radius: 10px;
    color: black;

  }
}
